* {
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: "poppinsthin";
  src: url("../fonts/poppins-thin-webfont.woff2") format("woff2"),
    url("../fonts/poppins-thin-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "poppinssemibold";
  src: url("../fonts/poppins-semibold-webfont.woff2") format("woff2"),
    url("../fonts/poppins-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "poppinsmedium";
  src: url("../fonts/poppins-medium-webfont.woff2") format("woff2"),
    url("../fonts/poppins-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "poppinslight";
  src: url("../fonts/poppins-light-webfont.woff2") format("woff2"),
    url("../fonts/poppins-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "poppinsextrabold";
  src: url("../fonts/poppins-extrabold-webfont.woff2") format("woff2"),
    url("../fonts/poppins-extrabold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "poppinsbold";
  src: url("../fonts/poppins-bold-webfont.woff2") format("woff2"),
    url("../fonts/poppins-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "poppinsmedium";
}
body.active {
  overflow: hidden;
}
h1 {
  font-family: "poppinsbold";
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1350px;
}
header {
  background-color: #fd8b06;
}
header .wrapper {
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .logo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .logo-container .logo {
  width: 60px;
}
header .logo-container input {
  width: 85%;
  padding: 12px 30px 12px 45px;
  background: #f2890e;
  outline: none;
  border: 1px solid #fff;
  border-radius: 10px;
  font-size: 20px;
  color: #f9c487;
}
header .logo-container input::placeholder {
  color: #f9c487;
}
header .logo-container .search-bar {
  display: flex;
  align-items: center;
  margin: 0 80px;
  position: relative;
}
header .logo-container .search-bar img {
  filter: invert(1);
  width: 25px;
  position: absolute;
  left: 8px;
  bottom: 14px;
}
header .menu {
  display: flex;
}
header .menu li {
  opacity: 0.6;
}
header .menu li:hover {
  transition: 0.3s ease-in;
  opacity: 1;
}
header .menu li:active {
  transition: 0.3s ease-in;
  opacity: 1;
}
header .menu li.changed {
  opacity: 1;
}
header .menu li a {
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  font-weight: 600;
}
header .menu li:nth-child(2) {
  margin: 0 60px;
}
header .user-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .nav {
  display: flex;
  align-items: center;
}
header .user-bar {
  display: none;
}
header .nav li {
  margin-right: 50px;
}
header select {
  background: #fd8b06;
  border: none;
  outline: none;
  font-size: 20px;
  color: #fff;
  margin-right: 30px;
}
header .nav li img {
  width: 20px;
}
header .nav li:last-child {
  margin-right: 0;
}
header .mobile-menu {
  display: none;
}
header .mobile-menu .lang {
  display: none;
}
header .menu-icon {
  display: none;
}
header .menu-icon span {
  font-size: 22px;
  color: #ffff;
}
/* header-end */

/* category-start */
.category .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
.category .content select {
  border: none;
  outline: none;
  background: #fff;
  font-size: 20px;
}
.category .cate {
  display: none;
  text-align: center;
  margin-top: 40px;
}
/* category */

/* shops-start */
.shops {
  padding: 50px 0;
}
.shops h1 {
  font-size: 30px;
  color: #fd8b07;
}
.shops .container {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.shops .container .item {
  width: 40%;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  margin-right: 20px;
}
.shops .container .mega {
  background: url(../images/Sopermarkt-png.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.shops .item .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fb8903;
  padding: 12px 20px;
  margin: 22px 20px 0 20px;
  border-radius: 10px;
}
.shops .item .head h2 {
  color: #fff;
}
.shops .item .head .location {
  display: flex;
  align-items: center;
}
.shops .item .head .location span {
  color: #fff;
  margin-left: 5px;
}
.shops .item .bottom {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background: rgba(0, 0, 0, 0.418);
  backdrop-filter: blur(10px);
  border-top: 1px solid #707070;
}
.shops .item .bottom h2 {
  color: #fff;
  font-weight: 400;
  letter-spacing: 1px;
}
.shops .item .bottom span {
  color: #fff;
}
.shops .item .bottom .rate {
  display: flex;
  align-items: center;
}
.shops .item .bottom .rate span {
  margin-left: 5px;
}
.shops .container .green {
  background: url(../images/Fruitshope-png.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.shops .container .green .head {
  background: #63af31;
}
.shops .container .sweet {
  background: url(../images/Restorent-png.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.shops .container .sweet .head {
  background: #ec16489a;
}
.shops button {
  background: #fff;
  border: none;
}
.shops button img {
  cursor: pointer;
  filter: invert(1);
}
.shops .prev-arrow {
  position: relative;
  left: -16px;
}
/* shops-end */

/* featured-start */

.feature {
  padding: 50px 0;
}
.feature .wrapper h1 {
  color: #fd8b06;
  margin-bottom: 40px;
}
.feature .deal-of-day {
  padding: 50px 30px 10px 30px;
  text-align: center;
  background: #b5ebfe;
  width: 22%;
  height: 800px;
  border-radius: 13px;
}
.feature .deal-of-day .text {
  text-align: center;
  margin: 0 auto;
  width: 90%;
}
.feature .deal-of-day h2 {
  color: #049cfc;
  font-size: 26px;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
.feature .deal-of-day p {
  width: 100%;
  font-size: 20px;
  line-height: 1.5em;
  text-align: left;
  margin: 0 auto;
  margin-bottom: 200px;
  margin-right: 0;
}
.feature .deal-of-day p span {
  font-size: 30px;
  color: #049cfc;
  font-weight: 600;
}
.feature .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.feature .deal-of-day .button {
  padding: 12px 20px;
  font-size: 22px;
  background: #fff;
  border-radius: 10px;
  color: #4ab4fe;
  border: 1px solid #049cfc;
}
.feature .deal-of-day .button:hover {
  background: #dfdfdf;
  transition: 0.3s ease-in;
}
.feature .deal-of-day .image {
  margin-bottom: 50px;
  margin-left: -10px;
}
.feature .items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.feature .items li {
  width: 24.5%;
  height: 340px;
  padding: 35px 26px;
  border-radius: 10px;
  margin-right: 30px;
  margin-bottom: 30px;
  text-align: center;
  border: 1px solid #049cfc;
}
.feature .items li:hover {
  background: #f1f1f1;
  transform: scale(1.02);
  transition: 0.3s ease-in;
}
.feature .items li:nth-child(n + 4) {
  margin-bottom: 0;
}
.feature .items li:nth-child(3n) {
  margin-right: 0;
}
.feature .items li .top {
  display: flex;
  justify-content: flex-end;
}
.feature .items li .main {
  margin-bottom: 40px;
}
.feature .items li .milk {
  width: 78%;
}
.feature .items li .toys {
  margin-left: -20px;
}
.feature .items li .dress {
  width: 78%;
}
.feature .items li .paam {
  width: 63%;
}
.feature .items li .lotions {
  width: 25%;
}
.feature .items li .text {
  text-align-last: left;
}
.feature .items li .text small {
  color: #000;
  display: block;
  font-size: 28px;
  margin-bottom: 20px;
}
.feature .items li .text span {
  margin-bottom: 28px;
  font-weight: 600;
  color: #707070;
}
.feature .items li .bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.feature .items li .rate {
  display: flex;
  align-items: center;
}
.feature .items li .rate span {
  color: #707070;
  margin-left: 5px;
}
.feature .items li .cart {
  background: #ff6f12;
  padding: 10px 14px;
  border-radius: 50%;
}
.feature .items li .cart img {
  width: 20px;
}
.feature .items li .cart:hover {
  transform: rotate(360deg);
  transition: 0.6s ease-in;
}
/* featured-end */

/* baby-section-start */

.baby .container {
  width: 100%;
  background: #fbe3f8;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
}
.baby .container .text {
  text-align: right;
  width: 40%;
}
.baby .container .text h1 {
  font-weight: 400;
  font-size: 46px;
  margin-bottom: 20px;
  letter-spacing: 1px;
}
.baby .container .text h1 span {
  color: #f31374;
  font-size: 55px;
}
.baby .container .text .shopnow {
  margin-top: 30px;
}
.baby .container .text .button {
  padding: 14px 30px;
  font-size: 22px;
  background: #f31374;
  width: 15%;
  font-weight: 600;
  text-align: center;
  color: #ffff;
  border-radius: 10px;
}
.baby .items {
  margin-top: 40px;
  flex-wrap: wrap;
  display: flex;
  justify-content: flex-end;
}
.baby .items li {
  width: 20%;
  height: 400px;
  border-radius: 10px;
  text-align: center;
  border: 1px solid #f75d9f;
  padding: 35px 22px;
  margin-right: 20px;
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.baby .items li:hover {
  transform: scale(1.02);
  transition: 0.3s ease-in;
}
.baby .items li .bump {
  width: 65%;
}
.baby .items li .walker {
  width: 80%;
}
.baby .items li .toys {
  width: 100%;
  margin-bottom: 65px;
}
.baby .items li .tshirt {
  width: 80%;
  margin: 0 auto;
}
.baby .items li .chappel {
  width: 85%;
}
.baby .items li .dressred {
  width: 65%;
}
.baby .items li:nth-child(4n) {
  margin-right: 0;
}
.baby .items li .top {
  display: flex;
  justify-content: flex-end;
}
.baby .items li .text {
  text-align: left;
}
.baby .items li .text span {
  font-size: 24px;
  display: block;
  margin-bottom: 20px;
}
.baby .items li .text small {
  font-size: 20px;
  color: #707070;
  font-weight: 700;
}
.baby .items li .bottom {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.baby .items li .rate {
  display: flex;
  align-items: center;
}
.baby .items li .rate span {
  color: #707070;
  margin-left: 5px;
}
.baby .items li .cart {
  background: #ff6f12;
  padding: 10px 14px;
  border-radius: 50%;
}
.baby .items li .cart img {
  width: 20px;
}
.baby .items li .cart:hover {
  transform: rotate(360deg);
  transition: 0.6s ease-in;
}

/* baby-section-end */

/* footer */
footer {
  margin-top: 40px;
  background: #4b4949;
  padding: 4% 0 2% 0;
}
footer .detials {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .detials {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
footer .contact h1 {
  color: #fff;
  margin-bottom: 20px;
  font-size: 20px;
}
footer .contact span a {
  color: #fff;
  display: block;
  margin-bottom: 20px;
}
footer .contact span a:hover {
  color: #b8b8b8;
}
footer .address h1 {
  color: #fff;
  margin-bottom: 20px;
  font-size: 20px;
}
footer .address span a {
  color: #fff;
  display: block;
  margin-bottom: 20px;
}
footer .address span a:hover {
  color: #b8b8b8;
}
footer .social ul {
  display: flex;
  align-items: center;
}
footer .social ul li:hover {
  transform: scale(1.06);
  transition: 0.3s ease-in;
}
footer .social ul .whatsapp {
  width: 40px;
}
footer .social h1 {
  color: #fff;
  display: block;
  margin-bottom: 20px;
  font-size: 20px;
}
footer .detials li {
  margin-right: 20px;
  filter: grayscale(100);
}
footer .detials li:last-child {
  margin-right: 0;
}
footer .detials .logo img {
  width: 40%;
}
footer .copyright {
  text-align: center;
  margin-top: 50px;
  border-top: 1px solid #fff;
  padding: 20px 0 0 0;
}
footer .copyright p {
  color: #fff;
  font-size: 20px;
}
footer .copyright p a {
  color: #b8b8b8;
}
footer .copyright p a:hover {
  color: #ffff;
}
/* footer-end */

/* responsive-screen */

@media all and (max-width: 1280px) {
  header select {
    margin-left: 60px;
  }
  .feature .items li {
    width: 23.5%;
  }
  .shops .item .head h2 {
    font-size: 18px;
  }
  .feature .items li .toys {
    width: 120%;
  }
  .feature .items li .bear {
    width: 83%;
  }
  .feature .deal-of-day .image img {
    width: 270px;
  }
  .feature .deal-of-day .image {
    margin-bottom: 125px;
  }
  .baby .container .text h1 {
    font-size: 33px;
  }
  .baby .container .text h1 span {
    font-size: 45px;
  }
  .baby .items {
    justify-content: center;
  }
  .baby .items li:nth-child(4n) {
    margin-right: 20px;
  }
}
@media all and (max-width: 980px) {
  header {
    position: relative;
  }
  header .menu-icon {
    display: block;
    margin-left: 40px;
  }
  header .menu {
    display: none;
  }
  header select {
    margin-left: 0;
  }
  header .mobile-menu {
    visibility: hidden;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 0;
    opacity: 0;
    left: 0;
    right: 0;
    top: 80px;
    text-align: center;
    justify-content: center;
    background: #fd8b06;
    z-index: 9999;
  }
  .active header .mobile-menu {
    visibility: visible;
    opacity: 1;
    height: 200px;
    transition: 0.3s ease-in;
  }
  header .mobile-menu li {
    opacity: 0.6;
    margin-bottom: 30px;
  }
  header .mobile-menu li:hover {
    opacity: 1;
    transition: 0.3s ease-in;
  }
  header .mobile-menu li a {
    color: #ffff;
    font-weight: 600;
  }
  header .mobile-menu li:nth-child(2) {
    opacity: 1;
  }
  .feature .content {
    flex-direction: column;
  }
  .feature .deal-of-day {
    width: 100%;
    height: 495px;
    text-align: center;
    margin-bottom: 30px;
  }
  .feature .deal-of-day p {
    margin-bottom: 20px;
    text-align: center;
  }
  .feature .deal-of-day .image {
    margin-bottom: 50px;
  }
  .baby .container {
    flex-direction: column;
    padding: 50px 0;
  }
  .baby .items li {
    width: 30%;
  }
  .baby .container .text {
    margin: 60px auto;
    width: 100%;
    text-align: center;
  }
  .baby .container .image img {
    width: 90%;
    margin: 0 auto;
  }
  footer {
    padding-top: 6%;
  }
  footer .detials {
    flex-direction: column;
    text-align: center;
  }
  footer .detials .logo {
    text-align: center;
  }
  footer .detials .contact {
    margin: 40px auto;
  }
  footer .detials .social {
    margin-top: 40px;
  }
}
@media all and (max-width: 768px) {
  header .logo-container .search-bar img {
    width: 20px;
  }
  .category .content {
    height: 0;
    flex-wrap: wrap;
    visibility: hidden;
    padding-bottom: 0;
  }
  .category .cate {
    display: block;
  }
  .category .content select {
    margin-bottom: 30px;
    width: 45%;
    margin-right: 20px;
  }
  .category .content.active {
    visibility: visible;
    height: 180px;
    margin-top: 20px;
    transition: 0.4s ease-in;
  }
  .shops .item .head h2 {
    font-size: 16px;
  }
  .slick-slide img {
    width: 10px;
  }
  header .logo-container input::placeholder {
    font-size: 16px;
  }
  .feature .items li {
    width: 35%;
  }
  .feature .items li:nth-child(3n) {
    margin-right: 30px;
  }
  .feature .items li .bear {
    width: 80%;
  }
  .baby .items li {
    width: 40%;
  }
}
@media all and (max-width: 640px) {
  header .nav {
    display: none;
  }
  header .mobile-menu {
    flex-direction: column-reverse;
    padding: 20px 0;
  }
  header .mobile-menu .option {
    display: flex;
    margin-top: 30px;
  }
  header .mobile-menu .option  li:nth-child(2){
    margin: 0 50px;
  }
  header .user-bar {
    display: flex;
  }
  .baby .items li {
    width: 34%;
    height: 335px;
  }
  .baby .items li .main .oil {
    width: 45%;
  }
  .baby .items li .main .dress {
    width: 60%;
  }
  .feature .deal-of-day {
    width: 90%;
    margin: 0 auto 30px;
  }
}
@media all and (max-width: 480px) {
  header .menu-icon {
    margin-left: 0;
  }
  header select {
    display: none;
  }
  header .logo-container .search-bar {
    margin-left: 30px;
  }
  header .mobile-menu {
    padding: 26px 0;
  }
  header .mobile-menu .lang {
    display: block;
    margin: 0 auto 40px;
  }
  .shops h1 {
    font-size: 28px;
  }
  .feature .wrapper h1 {
    font-size: 28px;
  }
  .feature .deal-of-day {
    width: 80%;
    padding-bottom: 50px;
  }
  .feature .items li {
    width: 65%;
    margin-right: 0;
    height: 370px;
  }
  .feature .items li:nth-child(n + 4) {
    margin-bottom: 24px;
  }
  .baby .container .text h1 span {
    font-size: 38px;
  }
  .feature .items li:nth-child(3n) {
    margin-right: 0;
  }
  .baby .items li {
    width: 75%;
    height: 445px;
  }
  footer {
    padding-top: 12%;
  }
  footer .detials .logo img {
    width: 35%;
  }
  footer .contact h1 {
    font-size: 18px;
  }
  footer .address h1 {
    font-size: 18px;
  }
  footer .detials li img {
    width: 30px;
  }
  footer .social ul .whatsapp {
    width: 33px;
  }
  footer .copyright p {
    font-size: 18px;
    line-height: 1.5em;
  }
}
@media all and (max-width: 360px){
  .shops .container .item {
    margin-right: 0;
  }
  .shops .next-arrow {
    right: -15px;
    position: relative;
  }
  .feature .items li {
    height: 350px;
  }
  .baby .items li {
    height: 400px;
  }
  footer .detials li img {
    width: 25px;
  }
  footer .social ul .whatsapp {
    width: 28px;
  }
}
@media all and (max-width: 320px) {
  .feature .deal-of-day {
    padding-bottom: 110px;
  }
  .feature .items li {
    height: 312px;
  }
  .baby .items li {
    height: 358px;
  }
  footer .copyright p {
    font-size: 16px;
  }
}

/* responsive-screen-end */
